*{
    height: 100%;
    margin:0;
    padding: 0;
}
body{
    background-color: gray;
    overflow-x: hidden;
}
.container{
    position: relative;
}
.background1{
        background-image: url("./pics/background.jpg");
        height: 100%;
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.menu{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    font-size: 40px;
    position: absolute;
    top: 90%;
    width: 100%;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 0px 30px;
}
.logo{
    position: absolute;
    height: 200px;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.escudo{
    position: absolute;
    height: 150px;
    top: 1px;
    left: 1px;
}

.title{
    position: absolute;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 7vh;
    left: 50%;
    top:55vh;
    text-align: center;
    transform: translate(-50%);
}
.container2{
    position: relative;
}
.container2 header{
    position: absolute;
    width: 100vw;
    background-color: black;
    height: 20vh;
}
.container2 header h2{
    padding-top: 5vh;
    display: flex;
    font-size: 8vh;
    font-family: 'Roboto', sans-serif ;
    color: white;
    padding-left: 15vw;
}

.shade{
    position:relative;
    top: -80.5%; /* dato buscado a mano */
    height: 80.5vh;
    background: linear-gradient(black,rgba(0,0,0,0.2));

    /*Quitar comentario para ver las orillas del div*/
    
    /* border: 1px solid; 
    border-color: white; */
    
}
.background2{
    width: 100%;
}
.container2__paragraph{
    display: flex;
    color: white;
    position: absolute;
    left: 15%;
    top: 35%;
    width: 60%;
    height: 50%;
    font-size: 42px;
}