*{
    height: 100%;
    margin:0;
    padding: 0;
}
body{
    background-color: gray;
}
.background1{
        background-image: url("./pics/background.jpg");
        position: relative;
        height: 100%;
        width: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.logo{
    position: absolute;
    height: 200px;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.escudo{
    position: absolute;
    height: 150px;
    top: 1px;
    left: 1px;
}

.title{
    position: absolute;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 7vh;
    left: 50%;
    top:55vh;
    text-align: center;
    transform: translate(-50%);
}
.container2{
    position: relative;
}
.container2 header{
    position: absolute;
    width: 100%;
    background-color: black;
    height: 15%;
}
.container2 header h2{
    display: flex;
    font-size: 8vh;
    font-family: 'Roboto', sans-serif ;
    color: white;
    padding-left: 15%;
}
.background2{
    width: 100%;
}
.container2__paragraph{
    display: flex;
    color: white;
    position: absolute;
    left: 15%;
    top: 35%;
    width: 60%;
    height: 50%;
    font-size: 42px;
    background-color: rgba(0, 0, 0, 0.479);
}